.chr-contain{
display:flex;
flex-direction: column;
justify-content: space-around;
background-color: black;
width: 100%;
height: 100vh;
 .img{
    width: 248px;
    height: 320px;
}  
&__item{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;    
    row-gap: 40px;
}
 
}

.card-contain{
    padding:20px;
    margin:auto;    
    width: 90%;
    max-width: 1980px;
    height: 720px;
    background-color: black;    
    overflow-y: scroll;
}
.card-contain::-webkit-scrollbar{
    width: 5px;
 
}
.card-contain::-webkit-scrollbar-thumb{
    background:whitesmoke;
    border-radius: 10px;
}
.margin{
    margin-top: 40px;
}