.contain{
display: flex;
flex-direction: column;
justify-content: space-between;
color:whitesmoke; 
margin: 0px;
padding: 0px;    
width: 100vw;
height: 100vh;
background-image: url('../img/GOT.png'); 
  
        
}