.house_image{
    width: 248px;
    height: 320px;
}

.house_title{
    color: white;
}


// .gallery{
//     &__img{
//     width: 248px;
//     height: 320px;        
//     }
//     &__p{
//         color: white;
//     }
// }