

.nav{  
    
       
    font-family: got;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 3vw;
    background-color: transparent;
    padding-top: 50px;
  /*   margin-top: 25px; */
    /* padding-bottom: 25px; */
    
    a{color:whitesmoke;}
   &-item{margin-bottom: 64px;}
   
}
.title{
    font-family: got;
    font-size: 176px;
    font-weight: normal;
    
  }